# Q1_PART ONE
NYC VEHICLE COLLISION ANALYSIS

Use ‘vehicle_collisions’ data set.
• For each month in 2016, find out the percentage of collisions in
Manhattan out of that year's total accidents in New York City.
• Display a few rows of the output use df.head().
• Generate a csv output with four columns (‘Month’, ‘Manhattan’, ‘NYC’, ‘Percentage’)

In [393]:
import pandas as pd
from pandas import Series, DataFrame
from datetime import datetime,date

In [394]:
path_local='Data/vehicle_collisions.csv'
data_raw = pd.read_csv(path_local)

In [395]:
data_raw.head()

,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR
0,3146911,1/1/15,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN
1,3146180,1/1/15,0:20,NaN,NaN,40.771289,-73.946693,"(40.7712888, -73.9466928)",NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,ANIMALS ACTION,NaN,NaN,NaN,NaN
2,3146384,1/1/15,0:21,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN
3,3146013,1/1/15,0:30,BROOKLYN,11213.0,40.673845,-73.925080,"(40.6738445, -73.9250801)",BUFFALO AVENUE,SAINT MARKS AVENUE,...,BUS,PASSENGER VEHICLE,NaN,NaN,NaN,LOST CONSCIOUSNESS,NaN,NaN,NaN,NaN
4,3146120,1/1/15,0:33,NaN,NaN,NaN,NaN,NaN,RICHMOND TERRACE,SOUTH AVENUE,...,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN

In [396]:
df1=data_raw.loc[:,['DATE','BOROUGH']]

In [397]:
df1.loc[df1.index,'YEAR']=df1.loc[df1.index,'DATE'].apply(lambda x: datetime.strptime(x,'%m/%d/%y').date().strftime('%y'))
df1['MONTH']=df1['DATE'].apply(lambda x: datetime.strptime(x,'%m/%d/%y').date().strftime('%b'))

In [398]:
df0=df1.loc[df1['BOROUGH'] == 'MANHATTAN']

In [399]:
group = df1['BOROUGH'].groupby([df1['YEAR']=='16',df1['MONTH']])
group1 = df0['BOROUGH'].groupby([df0['YEAR']=='16',df0['MONTH']])

In [400]:
series=group.size()[True]
series1=group1.size()[True]

In [401]:
del series1.index.name
df2=DataFrame(series1,columns=['MANHATTAN'])
df2.columns.name='MONTH'

In [402]:
del series.index.name
df3=DataFrame(series,columns=['NYC'])
df3.columns.name='MONTH'

In [403]:
result=pd.concat([df2,df3],axis=1)

In [404]:
frame=result.reindex(index=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'])

In [405]:
frame['PERCENTAGE']=frame['MANHATTAN']/frame['NYC']

In [406]:
frame

MONTH  MANHATTAN    NYC  PERCENTAGE
Jan         3178  18101    0.175570
Feb         3195  15985    0.199875
Mar         3479  18471    0.188349
Apr         3540  18331    0.193115
May         3432  20052    0.171155
Jun         2956  19433    0.152112
Jul         3055  19867    0.153773
Aug         2844  19678    0.144527
Sep         2744  19492    0.140776
Oct         2831  19666    0.143954
Nov         2838  19315    0.146932
Dec         2634  19214    0.137088

In [407]:
frame.to_csv('Q1_p1.csv', index_label='MONTH')