# Q1_PART TWO
NYC VEHICLE COLLISION ANALYSIS

Use ‘vehicle_collisions’ data set.
• For each borough, find out distribution of each collision scale. (One car
involved? Two? Three? or more?) (From 2015 to present)
• Display a few rows of the output use df.head().
• Generate a csv output with five columns ('borough', 'one-vehicle', 'two- vehicles', 'three-vehicles', 'more-vehicles')

In [206]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [207]:
path_local='Data/vehicle_collisions.csv'
data_raw = pd.read_csv(path_local)

In [208]:
data_raw.head()

,UNIQUE KEY,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE,VEHICLE 1 FACTOR,VEHICLE 2 FACTOR,VEHICLE 3 FACTOR,VEHICLE 4 FACTOR,VEHICLE 5 FACTOR
0,3146911,1/1/15,0:20,QUEENS,11358.0,40.751847,-73.787862,"(40.7518471, -73.787862)",47 AVENUE,193 STREET,...,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN,TRAFFIC CONTROL DISREGARDED,NaN,NaN,NaN,NaN
1,3146180,1/1/15,0:20,NaN,NaN,40.771289,-73.946693,"(40.7712888, -73.9466928)",NaN,NaN,...,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,ANIMALS ACTION,NaN,NaN,NaN,NaN
2,3146384,1/1/15,0:21,BROOKLYN,11205.0,40.689445,-73.955121,"(40.6894449, -73.9551212)",BEDFORD AVENUE,LAFAYETTE AVENUE,...,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN,FATIGUED/DROWSY,UNSPECIFIED,NaN,NaN,NaN
3,3146013,1/1/15,0:30,BROOKLYN,11213.0,40.673845,-73.925080,"(40.6738445, -73.9250801)",BUFFALO AVENUE,SAINT MARKS AVENUE,...,BUS,PASSENGER VEHICLE,NaN,NaN,NaN,LOST CONSCIOUSNESS,NaN,NaN,NaN,NaN
4,3146120,1/1/15,0:33,NaN,NaN,NaN,NaN,NaN,RICHMOND TERRACE,SOUTH AVENUE,...,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN,UNSPECIFIED,UNSPECIFIED,NaN,NaN,NaN

In [219]:
df1=data_raw.loc[:,['BOROUGH','VEHICLE 1 TYPE','VEHICLE 2 TYPE','VEHICLE 3 TYPE','VEHICLE 4 TYPE','VEHICLE 5 TYPE']]

In [220]:
df2=df1.replace(np.nan,'NOT SPECIFIED')

In [221]:
arr_vieh1 = df2['VEHICLE 1 TYPE'].unique()
arr_vieh2 = df2['VEHICLE 2 TYPE'].unique()
arr_vieh3 = df2['VEHICLE 3 TYPE'].unique()
arr_vieh4 = df2['VEHICLE 4 TYPE'].unique()
arr_vieh5 = df2['VEHICLE 5 TYPE'].unique()
list_vieh = arr_vieh1.tolist()+arr_vieh2.tolist()+arr_vieh3.tolist()+arr_vieh4.tolist()+arr_vieh5.tolist()
list_vieh.remove('NOT SPECIFIED')

In [225]:
df3=df2.replace('NOT SPECIFIED',int(0))
df4=df3.replace(list_vieh,int(1))
df4['BOROUGH']=df4['BOROUGH'].replace(0,'NOT SPECIFIED')

In [246]:
group1= df4['VEHICLE 1 TYPE'].groupby([df4['BOROUGH']])
group2= df4['VEHICLE 2 TYPE'].groupby([df4['BOROUGH']])
group3= df4['VEHICLE 3 TYPE'].groupby([df4['BOROUGH']])
group4= df4['VEHICLE 4 TYPE'].groupby([df4['BOROUGH']])
group5= df4['VEHICLE 5 TYPE'].groupby([df4['BOROUGH']])

In [247]:
frame1=DataFrame(group1.sum()-group2.sum(),columns=['ONE_VEHICLE_INVOLVED'])
frame1['TWO_VEHICLE_INVOLVED']=DataFrame(group2.sum()-group3.sum())
frame1['THREE_VEHICLE_INVOLVED']=DataFrame(group3.sum()-group4.sum())
frame1['MORE_VEHICLE_INVOLVED']=DataFrame(group4.sum()-group5.sum()+group5.sum())
del frame1.index.name
frame1.columns.name='BOROUGH'

In [248]:
frame1

BOROUGH,ONE_VEHICLE_INVOLVED,TWO_VEHICLE_INVOLVED,THREE_VEHICLE_INVOLVED,MORE_VEHICLE_INVOLVED
BRONX,8627,34385,1962,625
BROOKLYN,17375,80207,4980,1612
MANHATTAN,13318,66958,2024,501
NOT SPECIFIED,22357,104045,9210,2508
QUEENS,12962,70260,4498,1420
STATEN ISLAND,2343,10676,759,165

In [250]:
frame1.to_csv('Q1_p2.csv', index_label='BOROUGH')