# Q2_PART TWO
EMPLOYEE COMPENSATION ANALYSIS

Use 'employee_compensation' data set.
• Data contains fiscal and calendar year information. Same employee details exist twice in the dataset. Filter data by calendar year and find average salary (you might have to find average for each of the columns for every employee. Eg. Average of Total Benefits, Average of total compensation etc.) for every employee.
• Now, find the people whose overtime salary is greater than 5% of salaries (salaries refers to ’Salaries' column)
• For each ‘Job Family’ these people are associated with, calculate the percentage of total benefits with respect to total compensation (so for each job family you have to calculate average total benefits and average total compensation). Create a new column to hold the percentage value.
• Display the top 5 Job Families according to this percentage value using df.head().
• Write the output (jobs and percentage value) to a csv.

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
path_local='Data/employee_compensation.csv'
data_raw = pd.read_csv(path_local)

In [4]:
df1=data_raw.loc[:,['Job Family','Employee Identifier','Salaries','Overtime','Total Benefits','Total Compensation']]

In [5]:
df1.head()

,Job Family,Employee Identifier,Salaries,Overtime,Total Benefits,Total Compensation
0,Journeyman Trade,52206,98528.52,0.00,41432.55,143916.66
1,Dietary & Food,52950,69169.82,755.02,33810.24,107914.16
2,Management,33958,200.00,0.00,67.28,267.28
3,Legal & Court,33073,1783.00,0.00,736.13,2519.13
4,Public Service Aide,15849,1102.50,0.00,624.18,1726.68

In [41]:
frame1 = DataFrame(df1['Salaries'].groupby([df1['Employee Identifier']]).mean(),columns=['Salaries'])
frame2 = DataFrame(df1['Overtime'].groupby([df1['Employee Identifier']]).mean(),columns=['Overtime'])

In [50]:
frame_overtime=pd.concat([frame1,frame2],axis=1)
frame_overtime['Percent'] = frame_overtime['Overtime']/frame_overtime['Salaries']

In [57]:
frame_overtime['Employee'] = frame_overtime.index

In [58]:
frame_overtime.head()

                      Salaries  Overtime   Percent  Employee
Employee Identifier
1                    44347.805     0.000  0.000000         1
2                    11061.700     0.000  0.000000         2
3                    26670.595  1543.365  0.057868         3
4                    18574.880     0.000  0.000000         4
5                    19389.715     0.000  0.000000         5

In [61]:
group = frame_overtime['Employee'].groupby([frame_overtime['Percent']>0.05])

In [79]:
print('There are ',group.size()[True], ' employees overtime salaries is over 5% of salaries')

There are  13524  employees overtime salaries is over 5% of salaries

In [80]:
frame3 = DataFrame(df1['Total Benefits'].groupby([df1['Job Family']]).mean(),columns=['Total Benefits'])
frame4 = DataFrame(df1['Total Compensation'].groupby([df1['Job Family']]).mean(),columns=['Total Compensation'])

In [83]:
frame_jobfamily=pd.concat([frame3,frame4],axis=1)
frame_jobfamily['Percent_Total_Benefit']=frame3['Total Benefits']/frame4['Total Compensation']

In [84]:
frame_jobfamily.head()

,Total Benefits,Total Compensation,Percent_Total_Benefit
Job Family,,,
Administrative & Mgmt (Unrep),58804.222241,248536.124310,0.236602
Administrative Secretarial,28918.649873,101995.198101,0.283530
Administrative-DPW/PUC,41349.404069,156364.681576,0.264442
Administrative-Labor & Trades,39922.411887,160870.450896,0.248165
Agriculture & Horticulture,25407.737041,81391.643272,0.312166

In [88]:
frame_jobfamily.to_csv('Q2_p2.csv')